.dataImage{
    width: 300px;
    border-radius: 5px;
    height: 200px;
}

.data-card{
    display: flex;
    
}

.card{
    position: relative;
}

.location{
    display: flex;
    align-items: center;
    position: absolute;
    top: 60%;
    gap: 10px;
    margin-left:20px;
}


